<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Groove street lounge</title>
    <link rel="stylesheet" href="/styles/app.css" />
    <link rel="stylesheet" href="/styles/index.css" />
</head>

<body>
        <section class="besties-container">
            <div>
                <img src="./assets/common/besties icons/CoctaleGlass.svg" alt="cocktails" />
                <p>Best cocktails</p>
            </div>
            <div>
                <img src="./assets/common/besties icons/CoctaleCup.svg" alt="drinks" />
                <p>Best drinks</p>
            </div>
            <div>
                <img src="./assets/common/besties icons/GamePad.svg" alt="console games" />
                <p>Best console games</p>
            </div>
            <div>
                <img src="./assets/common/besties icons/Cards.svg" alt="board games" />
                <p>Best board games</p>
            </div>
            <div>
                <img src="./assets/common/besties icons/SnileEmojie.svg" alt="funny" />
                <p>Best emotions</p>
            </div>
        </section>
</body>

</html>