<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Groove street lounge</title>
    <link rel="stylesheet" href="/styles/app.css" />
    <link rel="stylesheet" href="/styles/index.css" />
</head>

<body>
    <footer>
        <section class="section-container">
            <h2 class="section-header" style="font-family: Pricedown; color: var(--black-color)">
                Our location
            </h2>
            <div>
                <!-- Map here -->
            </div>
        </section>
        <section class="footer-container" style="background-color: var(--black-color-transparent)">
            <div>
                <p>OOO “polonik”</p>
                <p>All rights reserved</p>
            </div>
            <address>
                <p>+375(44)711-01-92</p>
                <p>+375(33)382-91-45</p>
                <p>Uruchskaya st., 21</p>
            </address>
        </section>
    </footer>
</body>

</html>