<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Groove street lounge</title>
    <link rel="stylesheet" href="/styles/app.css" />
    <link rel="stylesheet" href="/styles/index.css" />
</head>

<body>
    <header>
        <a href="index.html"><img src="./assets/common/logo.png" alt="logo" style="width: 100px" /></a>
        <nav class="nav-container">
            <a href="./menu.html"><button>menu</button></a>
            <a href="./hookahs.html"><button>hookahs</button></a>
            <a href="./lounges.html"><button>lounges</button></a>
            <a href="./about_us.html"><button>about us</button></a>
            <a href="./blog.html"><button>blog</button></a>
        </nav>
        <address>
            <p>+375(44)711-01-92</p>
            <p>+375(33)382-91-45</p>
            <p>Uruchskaya st., 21</p>
        </address>
    </header>
</body>

</html>