<link rel="stylesheet" href="/styles/app.css" />
<link rel="stylesheet" href="/styles/index.css" />
<header>
    <a href="index.html"
        ><img src="./assets/common/logo.png" alt="logo" style="width: 100px"
    /></a>
    <nav class="nav-container">
        <a href="./menu.html" class="btn-2">menu</a>
        <a href="./hookahs.html">hookahs</a>
        <a href="./lounges.html">lounges</a>
        <a href="./about_us.html">about us</a>
        <a href="./blog.html">blog</a>
    </nav>
    <address>
        <p>+375(44)711-01-92</p>
        <p>+375(33)382-91-45</p>
        <p>Uruchskaya st., 21</p>
    </address>
</header>
