<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Groove street lounge</title>
    <link rel="stylesheet" href="/styles/app.css" />
    <link rel="stylesheet" href="/styles/index.css" />
</head>

<body>
        <section class="section-container">
            <div class="section-header">
                <img src="/assets/common/left_arrow.svg" alt="arrow" />
                <h2>Lounge Bar of Premium Class</h2>
                <img src="/assets/common/arrow.svg" alt="arrow" />
            </div>
            <p class="text-format" style="margin-bottom: 5vh; text-align: center">
                Once upon a time in the heart of the city, there emerged a
                lounge so cool, it made the ice cubes jealous.
            </p>
            <article class="img-text-container">
                <img src="/assets/common/comics.png" alt="" width="500px" />
                <div class="sep-text">
                    <p class="text-format">
                        Welcome to
                        <span style="font-family: Pricedown">“Groove Street Lounge“</span>, the only place where the
                        smoke rings are thicker
                        than the plot of a gangster movie.
                    </p>
                    <p class="text-format">
                        Founded by folks who said “please” with a wink and
                        “thank you” with a nod, this joint became the go-to
                        spot for the bold and the brave.
                    </p>
                </div>
            </article>
        </section>
</body>

</html>