@font-face {
    font-family: "Comic Sans";
    src: url("../assets/common/fonts/comicsans.ttf") format("truetype");
}

@font-face {
    font-family: "Pricedown";
    src: url("../assets/common/fonts/pricedown.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto-Light";
    src: url("../assets/common/fonts/roboto.ttf") format("truetype");
}

body {
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--black-color);
    color: var(--white-color);
    font-family: Comic Sans;
}

header {
    padding: 1vh 0 1vh 0;
    position: fixed;
    width: 100%;
    display: flex;
    gap: 8vw;
    align-items: center;
    justify-content: center;
    background-color: var(--black-color-transparent);
}

p {
    margin: 0;
}

address {
    font-family: Pricedown;
}

button {
    border: none;
    color: var(--white-color);
    background-color: transparent;
    padding: 0;
    cursor: pointer;
    font-family: Roboto-Light;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: Roboto;
}

.nav-container {
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
}

.container-with-background-img {
    display: flex;
    background-image: url("../assets/index/2telki.png");
    min-height: 100vh;
    background-size: cover;
    justify-content: center;
    align-items: center;
}

.besties-container {
    padding: 60px 60px;
    display: flex;
    background-color: var(--white-color);
    color: var(--black-color);
    font-family: Pricedown;
    justify-content: center;
    gap: 120px;
}

:root {
    --green-color: #6e9f57;
    --black-color: #151515;
    --white-color: #e1e1e1;
    --black-color-transparent: #151515a6;
}
