@font-face {
    font-family: "Comic Sans"; 
    src: url("../assets/common/fonts/comicsans.ttf") format("truetype"); 
}

@font-face {
    font-family: "Pricedown"; 
    src: url("../assets/common/fonts/pricedown.ttf") format("truetype"); 
}


body {
    margin: 0;
    color: #212529;
    font-family: Comic Sans;
}

